
  <h1>
    Contact :
  </h1>

<main class="container">
  <ul>
    <li><a href="mailto:bojuaugustin@gmail.com">bojuaugustin@gmail.com</a></li>
    <li> 06.89.36.31.74 </li>
    <li><a href="https://github.com/AugustinBoju">Augustin_Boju_Github_profil</a></li>
  </ul>
</main>
