<main class="container my-5" style="margin-top : 20px;">
  <div class="card-product">
    <img src="https://ca.slack-edge.com/T3W8B88JW-US77J54JD-054f0864cb45-512" />
    <div class="card-product-infos">
      <h2><%= link_to "Augustin Boju", contact_path %></h2>
      <p>Training at <strong>The Hacking Project</strong>.</p>
    </div>
  </div>
</main>
